@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MyMidterm</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Solar Theme Midterm Code</h2>
        <p>
            Welcome to the midterm for Professor Chuck Costarella
        </p>
    </div>
    <div class="col-md-4">
        <h2>Bing Link</h2>
        <p>Don't click this link because it will bring you to Bing.com!</p>
        <p><a class="btn btn-default" href="http://bing.com/">Slowest Browser &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Crunchy Roll Link</h2>
        <p>Go to crunchy roll to watch the newest anime.</p>
        <p><a class="btn btn-default" href="http://crunchyroll.com">GO &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Let's Talk! Chat With Me!</h2>
        <p>Wanna talk about your love life?</p>
        <p><a class="btn btn-default" href="/Home/Chat">LET IT GO &raquo;</a></p>
    </div>
</div>